@charset "utf-8";
.logo_1 {
    text-align: center;
}

.list_1 ul {
    display: flex;
    justify-content: center;
    
    list-style: none;

}
.list_1 li{
    border-right: 1px solid #996633;
    text-align:center;
    flex :0 0 5%;
    
}
.access li {
    border-right: none;
    margin-left: 15px;
}
.list_1 a {
    display: block;
    line-height: 1;
    color: #996633;
    text-decoration: none;
}
.about {
    text-align: center;
    margin-top: 50px
}
.explanation_about {
    margin-top: 50px;
}
.explanation_about p {
    color:#996633;
    
}
.logo_menu {
    text-align: center;
}
.list_menu ul {
    width:fit-content;
    margin: auto;
    color: #996633;
}
.logo_photo {
    text-align: center;
}
.photo img {
    text-align: center;
    
}