@charset "utf-8";
.logo_1 {
    text-align: center;
}

.logo_2 {
    text-align: center;
}
.logo_2 img {
    width: 1200px;
}

.list_1 ul {
    display: flex;
    margin-left: 0px;
    list-style: none;
    justify-content: center;
}
.list_1 li{
    border-right: 1px solid #996633;
    text-align:center;
    flex :0 0 7%;
    font-weight: bold;
    
}
.access li {
    border-right: none;
    margin-left: 30px;
}
.list_1 a {
    display: block;
    line-height: 1;
    color: #996633;
    text-decoration: none;
}
.about {
    text-align: center;
    margin-top: 100px
}
.explanation_about {
    margin-top: 50px;
}
.explanation_about p {
    font-size: 18px;
}
.explanation_about p {
    color:#996633;
    
}
.menu {
    margin-top: 100px;
    
}
.list_menu {
    margin-top: 50px;
}
.list_menu li {
    padding-bottom: 15px;
    
    font-size: 17px;
}
.logo_menu {
    text-align: center;
}
.list_menu ul {
    width:fit-content;
    margin: auto;
    color: #996633;
}
.logo_photo {
    text-align: center;
}
.photo {
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-align: center;
    display: block;
}
.explanation_photo_1 img {
    width: 1000px;
}
.explanation_photo_2 img {
    width: 1000px;
}
.explanation_photo_3 img {
    width: 1000px;
}
.explanation_photo_1 p {
    text-align: left;

}
.explanation_photo_2 p {
    text-align: left;
    
}
.explanation_photo_3 p {
    text-align: left;
    
}
.photo p {
    color:#996633;
    
}
.photo img {
    margin-top: 30px;
}
.photo p {
    margin-top: 0px;
}
.logo_access {
    text-align: center;
    margin-top: 100px;
}
.explanation_access_1 {
    display: flex;
    width:fit-content;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.explanation_access_2 {
    display: block;
    margin: 100px 30px;
    color: #663300;
}
.shop_name p {
    font-weight: bold;
    font-size: 20px
}
.tel p{
    font-weight: bold;
    font-size: 20px
}
footer {
    background-color: #663300;
}
.footer_2 {
    display: flex;
    justify-content: center;
    
}
.list_2 ul{
    display: flex;
    list-style:none;
    position: relative;
    font-weight: bold;
    margin-top: 30px;
}
.list_2 li{
    border-right: 1px solid #996633;
    text-align:center;
    flex :0 0 35%;
    
}
.list_2_access li {
    border-right: none;
    margin-left: 15px;
}
.list_2 a {
    display: block;
    line-height: 1;
    color: #ffffff;
    text-decoration: none;
}
.sannsyou p {
    color: #ffffff;
    position: absolute;
    padding-left: 52px;
    margin-bottom: 40px;
}